@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #D8BFD8;
  --secondary-color: #ffffff;
  --text-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 20px;
}

body {
  background-color: var(--primary-color);
}

.header {
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo-pagina .logo {
  height: 60px;
  margin-left: 70px;
  width: auto;
  transition: all 0.3s;
}

.logo-pagina .logo:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: var(--text-color);
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: darkslategray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  width: 100%;
}

/* section */
#hero {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: var(--text-color);
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: var(--text-color);
}

.hero-info a {
  background-color: var(--secondary-color);
  width: 120px;
  padding: 8px 0;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}

.hero-card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-texto {
  font-size: 16px;
  font-weight: bolder;
  font-style: oblique;
  max-width: 800px;
}

/* Estilos de la sección de texto */
#texto {
  padding: 50px;
  background-color: var(--secondary-color);
}

.hero-texto {
  max-width: 800px;
  margin: 0 auto;
}

#info-cards {
  background-color: var(--secondary-color);
  padding: 50px;
  text-align: center;
}

#info-cards h2 {
  color: var(--text-color);
}

#info-cards p {
  color: var(--text-color);
}

.info-cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.info-card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--primary-color);
  margin: 0 10px;
}

.info-card img {
  width: 100%;
}

.info-card h3 {
  margin-top: 10px;
  color: var(--text-color);
}

.info-card p {
  color: var(--text-color);
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.contacto-datos {
  text-align: center;
  margin-bottom: 30px;
}

.contacto-datos h2 {
  color: var(--text-color);
}

.datos {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.datos li {
  margin-bottom: 10px;
  color: var(--text-color);
}

.mapa-contact {
  margin-bottom: 30px;
}

.redes {
  display: flex;
  gap: 10px;
}

.redes img {
  height: 30px;
}

footer {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: var(--text-color);
}

footer img {
  height: 70px;
  margin-right: 10px;
}

footer p {
  font-size: 14px;
}


/*animate.css*/

/*titulo*/

.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animate__fadeInDownBig {
    animation-name: fadeInDownBig;
  }
  
  @keyframes fadeInDownBig {
    from {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  /*parrafo*/

  .animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animate__fadeInUpBig {
    animation-name: fadeInUpBig;
  }
  
  @keyframes fadeInUpBig {
    from {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  
  /* Estilos para tablets */

@media screen and (max-width: 768px) {
    .header .logo-pagina .logo {
      margin-left: 20px;
    }
  
    .header .nav-links li {
      padding: 0 10px;
    }
  
    #hero .hero-info {
      width: 80%;
    }
  
    .hero-info h1 {
      font-size: 36px;
      min-width: unset;
    }
  
    .hero-info p {
      width: 100%;
    }
  
    .hero-card {
      width: 250px;
    }
  
    #texto {
      padding: 30px;
    }
  
    .hero-texto {
      font-size: 14px;
    }
  
    .info-cards-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .info-card {
      width: 250px;
      margin-bottom: 20px;
    }
  
    footer p {
      font-size: 12px;
    }
  }
  
  /* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
    .header .logo-pagina .logo {
      margin-left: 10px;
    }
  
    .header .nav-links li {
      padding: 0 5px;
    }
  
    #hero .hero-info {
      width: 90%;
    }
  
    .hero-info h1 {
      font-size: 24px;
      min-width: unset;
    }
  
    .hero-info p {
      width: 100%;
    }
  
    .hero-card {
      width: 200px;
    }
  
    #texto {
      padding: 20px;
    }
  
    .hero-texto {
      font-size: 12px;
    }
  
    .info-cards-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .info-card {
      width: 200px;
      margin-bottom: 15px;
    }
  
    footer p {
      font-size: 10px;
    }
  }
  